@charset "UTF-8";
/* paleta de colores*/
/* tamaño de fuentes e iconos*/
/* resoluciones de pantalla*/
/*Separaciones(margenes y paddings)*/
/*fuente*/
/*mixings*/
body {
  font-family: "Iceland", cursive;
  background-color: black;
}

/* header */
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 120px;
  border-bottom: solid 2px #0601FF;
}
.header .menu {
  width: 80px;
  height: 80px;
  display: none;
  position: relative;
}
.header .containerLogo img {
  width: 100px;
  height: 100px;
}
.header .containerLogo:hover {
  transform: rotate(15deg);
}
.header .containerMenu {
  display: flex;
  list-style-type: none;
  transition: all 2s;
}
.header .containerMenu li:hover {
  transform: scale(0.8, 0.8);
}
.header .containerMenu li a {
  text-decoration: none;
  margin-right: 20px;
  font-size: 30px;
}
.header .containerMenu li a:hover {
  color: white;
}
.header .containerMenu .home {
  color: #DA059E;
}
.header .containerMenu .productos {
  color: #00C1FE;
}
.header .containerMenu .contactanos {
  color: #FBF100;
}
.header .containerMenu .registrate {
  color: #FEA800;
}
.header .containerUsuario {
  display: flex;
}
.header .containerUsuario div a {
  text-decoration: none;
  margin-right: 15px;
}
.header .containerUsuario .usuario {
  color: white;
}
.header .containerUsuario .carrito {
  width: 20px;
  height: 20px;
}
.header .containerUsuario .carrito:hover {
  rotate: -15deg;
}

.inactive {
  display: none;
}

.containerMenuMovil {
  width: 180px;
  height: 130px;
  border: 1px solid #0601FF;
  display: flex;
  flex-direction: column;
  margin-top: 0px;
  background-color: black;
}
.containerMenuMovil i {
  margin-bottom: 10px;
  margin-top: 10px;
}
.containerMenuMovil a {
  text-decoration: none;
  font-size: 28px;
}
.containerMenuMovil .home {
  color: #DA059E;
}
.containerMenuMovil .productos {
  color: #00C1FE;
}
.containerMenuMovil .contactanos {
  color: #FBF100;
}
.containerMenuMovil .registrate {
  color: #FEA800;
}

/*footer*/
footer {
  display: flex;
  position: relative;
  bottom: 0;
  padding-top: 10px;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-top: solid 2px #0601FF;
}
footer p {
  color: #726B6B;
}
footer a img {
  width: 40px;
  height: 40px;
}

/* media querys*/
@media (max-width: 900px) {
  .header .containerLogo img {
    width: 80px;
    height: 80px;
  }
  .header .containerMenu li a {
    font-size: 20px;
  }
  footer p {
    font-size: 10px;
  }
  footer a img {
    width: 30px;
    height: 30px;
  }
}
@media (max-width: 660px) {
  .header {
    height: 100px;
    flex-direction: row;
    justify-content: space-around;
    border-bottom: solid 2px #0601FF;
  }
  .header .menu {
    display: block;
    margin-left: 30px;
  }
  .header .containerMenu {
    display: none;
  }
  .header .inactive {
    display: none;
  }
  footer p {
    font-size: 7px;
  }
  footer a img {
    width: 20px;
    height: 20px;
  }
}
.containerPropaganda {
  display: flex;
  height: 100%;
  position: absolut;
  justify-content: center;
  margin-bottom: 30px;
}
.containerPropaganda div {
  height: 50%;
}
.containerPropaganda div img {
  margin-top: 30px;
  height: 500px;
}
.containerPropaganda .tituloProductoMes {
  color: #00C1FE;
  position: absolute;
  font-weight: bold;
  margin-top: 35px;
  margin-left: 18px;
  font-size: 40px;
}
.containerPropaganda .productoMes img {
  border-radius: 50px 0px 0px 50px;
}
.containerPropaganda .containerNovedades {
  display: flex;
  height: 100%;
  position: absolut;
  border-bottom: 30px;
}
.containerPropaganda .containerNovedades div img {
  margin-top: 30px;
  height: 500px;
  width: 500px;
}
.containerPropaganda .tituloNovedades {
  color: #DA059E;
  position: absolute;
  font-weight: bold;
  margin-top: 35px;
  margin-right: 18px;
  font-size: 40px;
}
.containerPropaganda .productoNovedades img {
  border-radius: 0px 50px 50px 0px;
}

.containerMarcas {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.containerMarcas .nike {
  display: flex;
  align-items: center;
  width: 130px;
  height: 100px;
  background-color: #FBF100;
  margin-bottom: 30px;
  border-radius: 30px;
}
.containerMarcas .nike img {
  height: 80px;
  width: 120px;
  margin-left: 10px;
}
.containerMarcas .adidas {
  display: flex;
  align-items: center;
  width: 130px;
  height: 100px;
  background-color: #00C1FE;
  margin-bottom: 30px;
  border-radius: 30px;
}
.containerMarcas .adidas img {
  height: 95px;
  width: 110px;
  margin-left: 10px;
}
.containerMarcas .puma {
  display: flex;
  align-items: center;
  width: 130px;
  height: 100px;
  background-color: #DA059E;
  margin-bottom: 30px;
  border-radius: 30px;
}
.containerMarcas .puma img {
  height: 95px;
  width: 110px;
  margin-left: 10px;
}
.containerMarcas .umbro {
  display: flex;
  align-items: center;
  width: 130px;
  height: 100px;
  background-color: #FEA800;
  margin-bottom: 30px;
  border-radius: 30px;
}
.containerMarcas .umbro img {
  height: 95px;
  width: 110px;
  margin-left: 10px;
}
.containerMarcas .underArmour {
  display: flex;
  align-items: center;
  width: 130px;
  height: 100px;
  background-color: #00FD28;
  margin-bottom: 30px;
  border-radius: 30px;
}
.containerMarcas .underArmour img {
  height: 130px;
  width: 130px;
}

@media (max-width: 900px) {
  .containerPropaganda {
    margin-bottom: 50px;
  }
  .containerPropaganda div img {
    height: 300px;
    width: 300px;
  }
  .containerPropaganda .tituloNovedades, .containerPropaganda .tituloProductoMes {
    font-size: 30px;
  }
  .containerMarcas .nike {
    width: 100px;
    height: 80px;
  }
  .containerMarcas .nike img {
    height: 45px;
    width: 80px;
  }
  .containerMarcas .adidas {
    width: 100px;
    height: 80px;
  }
  .containerMarcas .adidas img {
    height: 70px;
    width: 80px;
    margin-left: 8px;
  }
  .containerMarcas .puma {
    width: 100px;
    height: 80px;
  }
  .containerMarcas .puma img {
    height: 70px;
    width: 80px;
    margin-left: 8px;
  }
  .containerMarcas .umbro {
    width: 100px;
    height: 80px;
  }
  .containerMarcas .umbro img {
    height: 70px;
    width: 80px;
    margin-left: 8px;
  }
  .containerMarcas .underArmour {
    width: 100px;
    height: 80px;
  }
  .containerMarcas .underArmour img {
    height: 100px;
    width: 100px;
  }
}
@media (max-width: 660px) {
  .containerPropaganda {
    flex-direction: column;
    align-items: center;
  }
  .containerPropaganda .tituloProductoMes {
    position: initial;
  }
  .containerPropaganda .tituloNovedades {
    position: relative;
  }
  .containerPropaganda .productoMes img {
    border-radius: 50px;
  }
  .containerPropaganda .productoNovedades img {
    border-radius: 50px;
  }
  .containerMarcas {
    flex-wrap: wrap;
  }
}
.containerDeportes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.containerDeportes input {
  margin: 20px;
  width: 60px;
  font-family: "Iceland", cursive;
  background-color: black;
  color: white;
  border-radius: 20px;
  transition: all 1s;
}
.containerDeportes input:hover {
  cursor: pointer;
  color: black;
  border: black;
  background-image: linear-gradient(to left, #00C1FE, #00FD28);
}
.containerDeportes .todos {
  border: 1px solid #DA059E;
}
.containerDeportes .futbol {
  border: 1px solid #FEA800;
}
.containerDeportes .boxeo {
  border: 1px solid #00C1FE;
}
.containerDeportes .tennis {
  border: 1px solid #FBF100;
}
.containerDeportes .beisbol {
  border: 1px solid #00FD28;
}

.containerProductos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px;
}
.containerProductos .containerTarjeta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 270px;
  width: 180px;
  border: 1px solid white;
  border-radius: 25px;
  margin: 20px;
  background-color: RGB(114, 107, 107, 0.5);
}
.containerProductos .containerTarjeta img {
  height: 100%;
  width: 180px;
  object-fit: cover;
  transition: all 1s;
}
.containerProductos .containerTarjeta img:hover {
  transform: scale(1.1, 1.1);
}
.containerProductos .containerTarjeta .detalle {
  font-family: "Iceland", cursive;
  width: 50%;
  margin-left: 50px;
  margin-bottom: 30px;
  background-color: black;
  color: white;
  border: 1px solid white;
  font-size: 25px;
  border-radius: 10px;
}
.containerProductos .containerTarjeta .detalle a {
  text-decoration: none;
  color: white;
}

@media (max-width: 660px) {
  .containerProductos .containerTarjeta {
    height: 200px;
    width: 130px;
  }
  .containerProductos .containerTarjeta img {
    width: 120px;
  }
  .containerProductos .containerTarjeta .detalle {
    font-size: 18px;
    margin-left: 30px;
    margin-bottom: 0;
    margin-top: 10px;
  }
}
.containerContacto {
  display: flex;
  flex-direction: row;
}
.containerContacto .contacto {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.containerContacto .contacto p {
  color: white;
  font-size: 30px;
}
.containerContacto .contacto form {
  margin: 35px;
}
.containerContacto .contacto form label {
  font-size: 30px;
  color: white;
}
.containerContacto .contacto form input {
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  height: 30px;
  width: 200px;
}
.containerContacto .contacto form .botonEnviar {
  background-color: black;
  border: 1px solid #DA059E;
  color: #FEA800;
}
.containerContacto .imgContacto img {
  width: 400px;
  height: 300px;
}

@media (max-width: 900px) {
  .containerContacto .imgContacto img {
    width: 300px;
    height: 200px;
  }
}
@media (max-width: 660px) {
  .containerContacto {
    margin-left: 50px;
    flex-direction: column;
  }
  .containerContacto .contacto p {
    font-size: 20px;
  }
  .containerContacto .contacto form {
    margin: 0;
  }
  .containerContacto .contacto form textarea {
    width: 250px;
  }
  .containerContacto .imgContacto img {
    display: none;
  }
}
.containerProductosDetalle {
  margin: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.containerProductosDetalle .containerImagenDetalle {
  width: 400px;
  height: 500px;
  border: 1px solid white;
  border-radius: 20px;
  animation: rotacion 3s;
}
.containerProductosDetalle .containerImagenDetalle img {
  object-fit: cover;
  width: 400px;
}
@keyframes rotacion {
  0% {
    transform: scale(1) rotateZ(0);
  }
  50% {
    transform: scale(0.5) rotateZ(180deg);
  }
  100% {
    transform: scale(1) rotateZ(360deg);
  }
}
.containerProductosDetalle .containerDetalle {
  width: 400px;
  height: 500px;
  border: 1px solid white;
  border-radius: 20px;
}
.containerProductosDetalle .containerDetalle p {
  color: white;
  font-size: 35px;
  padding: 10px;
}
.containerProductosDetalle .containerDetalle .botonesDetalle {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.containerProductosDetalle .containerDetalle .botonesDetalle .btnComprar {
  width: 100px;
  height: 40px;
  background-color: black;
  border: 1px solid #FEA800;
  border-radius: 10px;
  animation: vibrar 4s;
}
.containerProductosDetalle .containerDetalle .botonesDetalle .btnComprar a {
  text-decoration: none;
  color: #DA059E;
}
@keyframes vibrar {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translate(-2px, 2px);
  }
  40% {
    transform: translate(-2px, -2px);
  }
  60% {
    transform: translate(2px, 2px);
  }
  80% {
    transform: translate(2px, -2px);
  }
  100% {
    transform: translate(0);
  }
}
.containerProductosDetalle .containerDetalle .botonesDetalle .btnVolver {
  width: 100px;
  height: 40px;
  background-color: black;
  border: 1px solid #FBF100;
  border-radius: 10px;
}
.containerProductosDetalle .containerDetalle .botonesDetalle .btnVolver a {
  text-decoration: none;
  color: #00C1FE;
}

@media (max-width: 900px) {
  .containerProductosDetalle .containerImagenDetalle {
    width: 300px;
    height: 400px;
  }
  .containerProductosDetalle .containerImagenDetalle img {
    width: 300px;
  }
  .containerProductosDetalle .containerDetalle {
    width: 300px;
    height: 400px;
  }
  .containerProductosDetalle .containerDetalle p {
    font-size: 25px;
    margin: 10px;
  }
}
@media (max-width: 660px) {
  .containerProductosDetalle {
    flex-direction: column;
    align-items: center;
  }
  .containerProductosDetalle .containerImagenDetalle {
    height: 250px;
    margin-bottom: 10px;
    margin-left: 10px;
  }
  .containerProductosDetalle .containerImagenDetalle img {
    margin-left: 30px;
    width: 230px;
  }
  .containerDetalle {
    margin-left: 10px;
  }
  .containerDetalle p {
    font-size: 20px;
    margin: 10px;
  }
}
.containerRegistro {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.containerRegistro input {
  width: 300px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  height: 30px;
}
.containerRegistro p {
  color: white;
}
.containerRegistro form {
  width: 350px;
  margin: 35px;
}
.containerRegistro form .botonEnviar {
  background-color: black;
  border: 1px solid #DA059E;
  color: #FEA800;
}
.containerRegistro form label {
  font-size: 30px;
  color: white;
}
.containerRegistro .containerTelYGen {
  display: flex;
  flex-direction: row;
}
.containerRegistro .containerTelYGen div {
  margin-right: 30px;
  margin-left: 25px;
}
.containerRegistro .containerTelYGen div input {
  width: 100px;
}
.containerRegistro .ofertas {
  display: flex;
  justify-content: center;
}
.containerRegistro .ofertas input {
  width: 50px;
  margin-left: -30px;
}
.containerRegistro .ofertas p {
  display: flex;
  align-items: center;
}

/*# sourceMappingURL=style.css.map */
